<%-include('header')%>
    <div class="user-profile">

        <h2>
            <%= locals.username %>'s Profile
        </h2>
        <h3>
            User Info:
        </h3>
        <ul>
            <li>Username: <%=locals.username %>
            </li>
            <li>Email: <%=locals.email %>
            </li>
            <li>HighScore: <%=locals.highscore %>
            </li>
        </ul>

        
        <a class="link" href="/game"> Play Game</a>
        <h3>
            Last 5 Scores:
        </h3>
        <ol>
            <% for(const score of locals.scores){ %>
                <li>
                    <%=score %> Points!
                </li>
                <% } %>
            </ol>
    </div>
    <%-include('footer')%>